/* === FOOTER === */
.footer {
  text-align: center;
  font-size: 12px;
  color: #323842;
  margin: 1.5rem;
  padding: 1.5rem;
}

.footer p {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #4B5563;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 16px;
  }

  .footer p {
    font-size: 12px;
  }
}
